@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";


// Variables
$font-stack: Helvetica, sans-serif;
$hn-orange: #ff6600;
$off-gray: #F8F9FB;

html {
    font: $font-stack;
    counter-reset: section;
}

.header {
    // font-weight: bold;
    // text-transform: uppercase;
    height: 100px;
    line-height: 100px;
}
.header__navItem {
    width: 100px;
    display: inline-block;
    text-align: center;
}
.header__navLogo {
    background-color: $hn-orange;
}

.logo {
    border: solid 1px white;
    padding: 5px 5px 5px 5px;
    color: white !important;
}
.header__nav--left {
    float: left;
}
.header__nav--right {
    float: right;
    display: inline-block;
}
.header__navLink--nolink {
    text-decoration: none;
    color: black;
    :hover {
        color: #DDDDDD;
    }
}

// Main Styles

.main {
    background-color: $off-gray;
    min-height: 1000px;
}

.main__section {
    padding-top: 100px;
    @include outer-container;
    .main__article { @include span-columns(9); }
    .main__aside { @include span-columns(3); }
}

.main__article {
    background-color: white;
}
.main__aside {
    background-color: white;
}

//.article__section,

.aside__section {
    padding: 2rem 2rem 2rem 2rem;
}

// Items within Article
.article__li {
    width: 100%;
    height: 100px;
    border-bottom: $off-gray 1px solid;
    .li__contents {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

.li__link--nolink {
    text-decoration: none;
    color: black;
    :hover {
        color: #DDDDDD;
    }
}
.li__link--nolink:after {
    content: " (" attr(href) ")";
    font-size: 0.8em;
    font-weight: normal;
    text-transform: none;
}


// Utility Classes
.u__clearfix {
    clear: both;
}
.u__caps {
    text-transform: uppercase;
}
.u__bold {
    font-weight: bold;
}
