@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";


// Variables
$font-stack: Helvetica, sans-serif;
$hn-orange: #ff6600;

html {
    font: $font-stack;
}

.header {
    font-weight: bold;
    text-transform: uppercase;
    height: 100px;
}

.header__navLogo {
    background-color: $hn-orange;
}

.logo {
    border: solid 1px white;
}
